/*=====Variables=====*/
:root {
  /*===Fonts===*/
  --heading-font: "Barlow Condensed", sans-serif;
  --body-font: "Barlow", sans-serif;

  /*===Colors===*/
  --main-color: #ff5c5c;
  --title-color: #242942;
  --text-one-color: #5b5f71;
  --text-two-color: #a0a1ac;
  --bg-color: #eef3f6;
}

/*=====Globals=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.2;
}
.general__background {
  position: absolute;
  top: 0;
  right: -5rem;
  z-index: -1;
  width: 50%;
  height: 55rem;
  border-bottom-left-radius: 8rem;
  background-color: var(--bg-color);
}
.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto;
}

/*=====Header=====*/
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
}
.header__nav {
  position: absolute;
  top: 8.8rem;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22.4rem;
  height: 16rem;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 1rem var(--text-two-color);
}
.header__nav-list {
  width: 90%;
  margin: 0 auto;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
  list-style: none;
}
.header__nav-list:hover {
  cursor: pointer;
}
.header__nav-list li {
  display: block;
  margin: 1.2rem auto;
  letter-spacing: 0.1rem;
}
.header__nav-list li:nth-child(3) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.header__nav-list li:nth-child(4) {
  display: none;
}
.header__nav-list li:nth-child(5) {
  color: var(--text-two-color);
}
.burger-menu,
.close-menu {
  border: none;
  background: none;
  cursor: pointer;
}
.hidden {
  display: none;
}

/*=====Main=====*/
.main__image {
  height: 46rem;
  margin-top: 4.8rem;
  width: 100%;
}
.main__image img {
  position: absolute;
  right: -35rem;
  width: 72rem;
}
.main__info {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}
.main__info-subtitle {
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
}
.main__info-subtitle p {
  width: 5rem;
  margin-right: 1.4rem;
  padding: 0.2rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: var(--title-color);
}
.main__info-subtitle h2 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  color: var(--text-two-color);
}
.main__info-title {
  margin-top: 1.6rem;
  font-size: 4rem;
  font-family: var(--heading-font);
  line-height: 1;
  color: var(--title-color);
}
.main__info-text {
  width: 25.5rem;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-family: var(--body-font);
  color: var(--text-one-color);
}
.main__info-callToAction {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
.main__info-callToAction button {
  width: 16rem;
  height: 4rem;
  margin-right: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: var(--main-color);
}
.main__info-callToAction button:hover {
  cursor: pointer;
}
.main__info-callToAction p {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: var(--text-two-color);
}
.footer {
  margin-top: auto;
  margin-bottom: 2.4rem;
  text-align: center;
}
.footer .attribution {
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--text-one-color);
}
.footer .attribution a {
  text-decoration: none;
  color: var(--title-color);
}
.footer .attribution a:hover {
  text-decoration: underline;
  color: var(--main-color);
}
